---

codis_packages:
  - name: codis
    version: {{ codis_version }}
    url: http://10.0.0.140/codis{{ codis_version }}-go{{ go_version }}-linux.tar.gz
    checksum: "sha256:4711d80fc4652966661f92535b925b1ff62445d817269e3a283e24d12647c3dd"
